#exitwrapper {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
		pointer-events: none;
    align-items: center;
    justify-content: center;
}

#exitwrapper .veil{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    content: "";
    z-index: 1;
    display: none;
    cursor: default;
}


.exit {
    width: 90%;
    max-width: 800px;
    border: 2px solid white;
    padding: 10px;
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    border: 20px solid white;
    background: white;
    left: 0;
    top: -100px;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
    visibility: hidden;
	display:none;
}



.exit .calltoaction{
	display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px;
    background: #000;
    display: block;
    width: 80%;
    font: bold 24px Arial;
    box-shadow: 0 0 15px gray, 0 0 10px gray inset;
    margin: 10px auto;
    text-align: center;
    color: white !important;
}


div.closeexitpop{
	width: 70px;
	height: 70px;
	overflow: hidden;
	display: none;
	position: fixed;
	cursor: pointer;
	text-indent: -1000px;
	z-index: 3;
	top: 10px;
	right: 10px;
}


#exitwrapper.open{
	pointer-events: auto;
}

#exitwrapper.open .veil{
    display: block;
}

#exitwrapper.open div.closeexitpop{
    display: block;
}

#exitwrapper.open .exit{
    visibility: visible;
}


@media screen and (max-height: 765px){
	.exit{
		top: 0; 
	}
}